<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Web-2</title>
</head>
<body>

<form method="post">
    <fieldset style="width:300px" >
        <legend><b>Form of registration</b></legend>

        <p></p>
        <label> e-mail: </label>
        <input name="email" type="email">

        <p></p>
        <label> password: </label>
        <input name="password" type="password">

        <p></p>
        <button type="submit"> submit </button>

    </fieldset>
</form>

</body>
</html>
